:root {
  --sprite-url: url('');
}
.sprite{
    width: 512px;
    height: 512px;
    display: block;
    background-size: 800% 100%;
    background-image: var(--sprite-url);
    overflow: hidden;
    image-rendering: pixelated;
    background-position: 0% 0%;
    animation: animacao 1s steps(8) infinite;
}

@keyframes animacao {
    100%{
        background-position: -800% 0%;
    }
}