#container{
    position: absolute;
    display: flex;
    flex-direction: column;
}
#loginForm{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.userDataInput{
    background-color: transparent;
    border: none;
    border-bottom: 1.6px solid black;
    outline: none;
}
.entryButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
}
.changeEntryPage{
    color: darkturquoise;
    text-decoration: underline;
    cursor: pointer;
}